*, *::before, *::after{margin: 0; padding: 0;}

.griddiv{
    display: grid;
    height:80vw;
    max-height: 90vh;
     background-color: grey;
     gap: 5px;
     border-radius: 5px;
     aspect-ratio: 1 / 1; !important
     flex-basis: 70%;
     margin:auto 0;
}
.griddiv > div{border-radius: 5px;}

body {display: flex; justify-content: space-evenly; align-items: center;}

.inputs{display: flex; flex-direction: column; flex-basis: 30%;}
